@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme inline {
  --font-inter: "Inter", sans-serif;

  --color-primary: #d61b5a;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray-dark: #222222;
  --color-gray-medium: #555555;
  --color-gray-light: #cccccc;
  
  --color-background: #ffffff;
  --color-foreground: #000000;
  
  --breakpoint-xs: 375px;
}

@layer base {
  body {
    @apply bg-white text-dark font-inter antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }
}
